@import '../../../node_modules/normalize.css/normalize.css';

*,body,html,h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

/* 样式 */

.image_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  
}