@import './assets/css/const.less';

/***********/
.App {
  height: 100vh;
  width: 100vw;
  background-color: #eee;
}

.warrap {
  display: flex;
  flex-direction: column;
  margin: 0 @AppPaddingWidth 0 @AppPaddingWidth;
  position: fixed;
  top: calc(~"@{MioHeadHeight} + @{AppPaddingHeight}");
  left: 0;
  right: 0;
  bottom: calc(~"@{MioFooterHeight} + @{AppPaddingHeight}");
}